* {
    box-sizing: border-box;
    font-family: 'Nunito', monospace;
}

/* body {
    background-color: #E7EEF8;
} */

/* nav bar */
.pg-logo {
    border-radius: 30px;
}

.logo-text {
    font-size: 1.2rem;
}

.service-row {
    width: 80%;
}

.service-carousel {
    width: 80%;
}

.tech-stack {
    width: 80%;
}


.training:hover {
    cursor: pointer;
}

.course {
    font-size: 14px;
}


.course ol li:first-child {
    padding-top: 8px;
}


.course ol li {
    padding-top: 16px;
}

.scroll-up {
    position:fixed;
    bottom: 16px;
    right: 20px;
    z-index: 999;
}

.scroll-up a {
    color: rgb(50, 179, 3);
}

@media only screen and (max-width: 1000px){
    .service-carousel {
        width: 100%;
    }
    .tech-stack {
        width: 100%;
    }
}


@media only screen and (max-width: 576px) {

    .service-row {
        width: 100%;
    }
    
}

@media only screen and (max-width: 500px) {
    .service-carousel {
        width: 80%;
    }
}